.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
}

.header {
  grid-area: header;
}

.img-fluid{
  width: 100%;
}

.nav {
  grid-area: sidebar;
}

.nav-item{
  padding-left: 20px;
}

.nav-item:hover {
  background-color: grey;
}

.nav-link:hover{
  color: white;
  font-weight: bold;
}

.body {
  display: grid;
  grid-template-rows: auto;
  overflow: hidden;
  grid-area: main;
  grid-gap: 5px;
  padding-top: 10px;
}

.footer {
  grid-area: footer;
}

.card{
  padding: 5px;
}